Package: lubuntu-win10-theme
Version: 1.0.2
Installed-Size: 8533
Maintainer: crasheddie <crash.eddie123@gmail.com>
Section: utils
Architecture: all
Priority: optional
Homepage: https://b00merang.weebly.com
Description: Windows 10 Theme for Lubuntu 18.04 LTS.
 This is an fork of B00merang Project with modifications to Lubuntu 18.04.
